body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}


.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0 , 0 , 0, .1);

}

.navbar .container {
height: inherit;
display: flex;
justify-content: space-between;
align-items: center;

}

.navbar-menu {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-menu li {
	display: inline-block;
	
}

.navbar-menu li a {
	display: inline-block;
	color: grey;
	opacity: 0,6;
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
	color: crimson;
	opacity: 1;

}


.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;

}


.callback {
	margin-left: 30px;
	padding: 10px 30px;
	background-color: crimson;
	border-radius: 100px;
	color: aliceblue;
	text-decoration: none;
	transition: all .1s ease-in-out;
	box-shadow: 0 4px 6px  rgba(227, 47, 15, 0.5);


}

.callback:hover {
	transform: scale(1.04);
	color: aliceblue;
	box-shadow: 0 9px 9px rgba(227, 47, 15, 0.5);
}




.navbar-brand {
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
	color: crimson;
	transition: all .07s ease-in-out;
}


.navbar-brand:hover {
	color: grey;
}


body{
	margin: 0;
	padding: 0;
	background: #fffcfc;
  }
  
  .social{
	width: 100%;
	height: 100vh;
	display:flex;
	align-items:center;
	justify-content:center;
  }

  .social__icon{
	text-decoration: none;
	display:flex;
	align-items:center;
	justify-content:center;
	width: 70px;
	height: 70px;
	margin: 10px;
	background-color: #f2f2f2;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #00000080;
	transition: all 0.3s ease;
	position: relative;
	overflow:hidden;
  }
  
  .social__icon i {
	font-size: 26px;
	color: #67798e;
	transition: all 0.3s ease;
	z-index: 1;
  }
  
  .social__icon:after{
	content: "";
	width: 70px;
	height: 70px;
	position:absolute;
	transform: translate(0, 70px);
	border-radius: 50%;
	transition: all 0.3s ease;
  }
  
  .social__icon.instagram:after {
	background-color: #b43a3a;
  }

.social__icon.vk:after {
  background-color: rgb(12, 0, 241);
}
.social__icon.telegram:after {
  background-color: #00acee;
}

.social__icon.phone::after {
	background-color: coral;
}
 

  .social__icon:hover {
	transform: translateY(-4px);
	box-shadow: 0px 0px 15px #00000080;
  }
  
  .social__icon:hover i{
	 color: rgb(255, 255, 255);
  }
  
  .social__icon:hover:after{
	transform: translate(0);
  }
