body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}


.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0 , 0 , 0, .1);

}

.navbar .container {
height: inherit;
display: flex;
justify-content: space-between;
align-items: center;

}

.navbar-menu {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-menu li {
	display: inline-block;
	
}

.navbar-menu li a {
	display: inline-block;
	color: grey;
	opacity: 0,6;
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
	color: crimson;
	opacity: 1;

}


.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;

}


.callback {
	margin-left: 30px;
	padding: 10px 30px;
	background-color: crimson;
	border-radius: 100px;
	color: aliceblue;
	text-decoration: none;
	transition: all .1s ease-in-out;
	box-shadow: 0 4px 6px  rgba(227, 47, 15, 0.5);


}

.callback:hover {
	transform: scale(1.04);
	color: aliceblue;
	box-shadow: 0 9px 9px rgba(227, 47, 15, 0.5);
}




.navbar-brand {
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
	color: crimson;
	transition: all .07s ease-in-out;
}


.navbar-brand:hover {
	color: grey;
}

.d-flex {
    display: flex;
}
img {
    width: 50%;
    height: 80%;
    margin: 80px;
}
.text {
    width: 50%;
    height: 30%;
    margin: 20px;
}
.text h2 {
    font-weight: 500;
   color: #db1616;
}

.text ul{
    list-style-type: none;
    color: #838383;
    font-size: 20px;
    padding-left: 0;
    padding-right: 15px;
}
